@charset "ISO-8859-1";

body {
	background-image: url("../img/7.png");
	color: #e8e4d8;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.input-group-prepend span {
	width: 50px;
	color: #b7ccdf;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

a {
	color: #b7ccdf;
	cursor: crosshair;
}

a:hover {
	color: #278e7b;
	cursor: crosshair;
}

.titolo {
	font-family: 'Montez', cursive;
	text-align: center;
	color: #e8e4d8;
	margin-top: 20px;
	font-size: 4rem;
}

.reserved {
	padding-top: 10px;
}

.card {
	height: 380px;
	margin-top: 10%;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	width: 400px;
}

.white {
	color: white;
	cursor: pointer;
}